.taskContainer {
  overflow-wrap: break-word;
}

.heading {

}


.containerDate {
  display: flex;
  justify-content: space-between;
}

.buttonDelete {
  background-color: red;
  border-radius: 50%;
  border: none;
}