.form {
padding-top: 3px;
}

.button {
  background-color: #04aa6d;
  border-radius: 50%;
  border: none;
  padding: 5px;
  color: white;
  font-size: 22px;
}

.field {
  width: 153px;
  height: 24px;
}